@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.btn {
  display: flex;
  margin: 0.2rem 0;
  position: relative;
  width: 45%;
  height: 2rem;
  border-radius: 1.25rem;

  @include tablet{
    height: 2.37rem;
    width: 14%;
  }
  @include desktop{
    height: 2.37rem;
    width: 12%;
  }

  &__style {
    display: flex;
    justify-content: center;
    color: $White;
    font-weight: 600;
    padding: 0.85rem 0rem;
    width: 100%;
    background-color: $Instock-Indigo;
    align-items: center;
    border-radius: $button-radius;
    border: none;
    transition: all 0.3s ease-out;
   

    @include tablet {
      height: $button-height;
      width: $button-min-width-tablet_desktop;
      padding-left: $button-padding-left-right-tablet_desktop;
      padding-right: $button-padding-left-right-tablet_desktop;
      font-size: $tablet-body-text-size;
      line-height: $tablet-body-text-line-height;
      align-self: self-end;
      
    }

    &:hover {
      cursor: pointer;
      background-color: $Instock-Black;
    }
    &:disabled {
      background-color: $Cloud;
    }
    &--cancel {
      color: $Instock-Indigo;
      background-color: $White;

      

      &:hover {
        color: $Instock-Indigo;
        background-color: $White;
        border: 1px solid $Instock-Indigo;
      }
    }
  }

  &__img {
    display: flex;
    height: $mobile-body-text-line-height;
    padding-left: 0.5rem;
    position: absolute;
    left: 0.2rem;

    @include tablet {
      height: $tablet-body-text-line-height;
    }
  }
}
