@import "../../styles/variables";
@import "../../styles/mixin";

* {
  padding: 0;
  margin: 0;
}

.card {
  background-color: $Light-Grey;
  width: 100%;
  height: 100vh;

  &__bgBlue {
    background-color: $Graphite;

    height: 4em;
    margin: 0;
    padding: 0;
  }

  &__wrapper {
    background-color: $White;
    margin: 0 1rem;
    border-radius: 0.2rem;
    position: absolute;
    top: 9rem;
    width: 93%;
  }

  &__header {
    padding: 1rem 1rem 1.2rem 1rem;
  }

  &__header-title {
    padding-top: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__searchBox {
    margin: 1rem 0;
    width: 100%;
  }
  &__searchBox-input {
    position: relative;
    width: 100%;
    padding: 0.65rem 1rem;
    border: 1px solid $Cloud;
    border-radius: 2rem;
  }

  &__searchBox-img {
    position: absolute;
    right: 2.9rem;
    top: 5.55rem;
  }

  &__list {
    list-style-type: none;
    border-bottom: 1.5px solid $Cloud;

    &:first-child {
      border-top: 1.5px solid $Cloud;
    }
  }

  &__list-content {
    margin: 1rem;
    display: flex;

    gap: 5rem;
  }

  &__list-content-left,
  &__list-content-right {
    text-align: left;
  }

  &__list-title {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #5c667e;
    margin-bottom: 0.7rem;
  }

  // &__list-title-inventory {
  //   font-size: 0.7rem;
  //   text-transform: uppercase;
  //   color: #5c667e;
  //   margin-bottom: 0.3rem;
  // }

  &__product-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.8rem;
    text-decoration: none;
    align-items: center;
  }

  &__list-text-item {
    font-size: 0.8rem;
    margin-bottom: 1.5rem;

    &--product {
      color: #2e66e5;
      font-weight: 600;
      margin: 0;
    }
  }

  &__list-text-item-inStock {
    color: $Green;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    background: rgba(21, 132, 99, 0.07);
    border-radius: 1rem;
    padding: 0.35rem 0.7rem;
    margin-bottom: 0.9rem;
    text-align: center;
  }

  &__list-text-item-outStock {
    color: $Red;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    background: rgba(201, 69, 21, 0.07);
    border-radius: 1rem;
    padding: 0.35rem 0.7rem;
    margin-bottom: 0.9rem;
    text-align: center;
  }

  &__product-item_chevron {
    margin-top: 0.15rem;
  }

  &__list-actions {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 1.5rem 1rem;
  }
}

.btn {
  border: none;
  width: 100%;

  &__style-link {
    text-decoration: none;
  }
  &__style {
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    width: 100%;
    padding: 0.7rem 0rem;
    background-color: #2e66e5;
    align-items: center;
    border-radius: 2rem;
    border: none;
    transition: all 0.3s ease-out;
  }
}
