// Primary colors

$Instock-Black: #13182c;
$Instock-Indigo: #2e66e5;
$White: #ffffff;

// secondary colors

$Slate: #5c667e;
$Cloud: #bdc5d5;

// background colors

$Graphite: #232940;
$Light-Grey: #f7f8f9;

// supporting colors

$Green: #158463;
$Red: #c94515;

// Button
$tablet-body-text-size: 0.875rem;
$tablet-body-text-line-height: 1.375rem;
$mobile-body-text-size: 0.8125rem;
$mobile-body-text-line-height: 1.125rem;

$button-height: 2.5rem;
$button-min-width-tablet_desktop: 9.375rem;
$button-padding-left-right-tablet_desktop: 2rem;
$button-radius: 0.625rem;
