@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.card {
  background-color: $Light-Grey;
  width: 100vw;
  height: 100vh;

  &__bgBlue {
    background-color: $Graphite;
    height: 4em;
    margin: 0;
    padding: 0;
  }

  &__wrapper {
    background-color: $White;
    margin: 0 1rem;
    flex-grow: 1;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 0.2rem;
    position: absolute;
    top: 9rem;
    width: calc(100% - 2rem);

    @include tablet {
      top: 5.5rem;
      margin: 0 2rem;
      width: calc(100% - 4rem);
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 1.5rem 1.2rem 1.5rem;
    border-bottom: 1.5px solid $Cloud;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      border: none;
      padding: 2rem 0 2rem 2.5rem;
    }
  }

  &__header-tittle-container {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: end;
  }

  &__header-title {
    font-size: 1.7rem;
    font-weight: 600;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;

    @include tablet {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }
}
.formEdit {
  display: flex;
  flex-direction: column;

  &__itemDetails-container {
    @include tablet {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2rem;
    }
  }

  &__itemDetails {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;

    @include tablet {
      width: 50%;

      &--divider {
        border-right: 1px solid $Cloud;
      }
    }
  }

  &__title {
    display: flex;
    padding: 1rem 0;
    font-size: 1.2rem;
  }
  &__title-item {
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0.3rem 0;

    &--qty {
      padding-right: 1rem;
    }
  }

  &__placeholder {
    font-size: 0.85rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 2rem;
    border: 1px solid $Cloud;
  }
  &__textarea {
    font-size: 0.8rem;
    padding: 0.6rem 0.6rem 4.5rem 0.6rem;
    margin-bottom: 0.75rem;

    border: 1px solid $Cloud;
    border-radius: 1rem;
    resize: none;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;

    border: 0 none;
  }
  &__warehouse {
    display: flex;
    flex-direction: column;
    &__fields {
      display: flex;
      flex-direction: column;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    &__fields {
      display: flex;
      flex-direction: column;
    }
  }
  &__fields {
    display: flex;
    &-error {
      color: red;
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      &--hide {
        visibility: hidden;
      }
    }
    &-error-border {
      border: 1px solid red;
    }
  }

  &__radioSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__radio-text {
    padding-left: 1rem;
    font-size: 0.9rem;
  }

  &__qty-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}
.form {
  &__btn-container {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 1rem;
    gap: 1rem;
    background-color: $Light-Grey;
    position: relative;

    @include tablet {
      position: absolute;
      gap: 4rem;
      right: 4rem;
      bottom: 2rem;
      background: none;
    }
  }
  &__fields {
    display: flex;

    &-error {
      color: $Red;
      font-size: 0.8rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.3rem;

      &--hide {
        visibility: hidden;
      }
    }
    &-error-border {
      border: 1px solid $Red;
    }
  }
  &__img-err {
    width: 1rem;
  }
}
