@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;
.form {
  display: flex;
  flex-direction: column;

  &__itemDetails {
    margin: 0 2rem;
  }

  &__title {
    display: flex;
    padding: 1rem 0;
    font-size: 1.2rem;
  }
  &__title-item {
    font-size: 0.85rem;
    font-weight: 600;
    padding: 0.3rem 0;

    &--qty {
      padding-right: 1rem;
    }
  }

  &__placeholder {
    font-size: 0.85rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 2rem;
    border: 1px solid $Cloud;
  }
  &__textarea {
    font-size: 0.8rem;
    padding: 0.6rem 0.6rem 4.5rem 0.6rem;
    margin-bottom: 0.75rem;

    border: 1px solid $Cloud;
    border-radius: 1rem;
    resize: none;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 0 none;
  }
  &__warehouse {
    display: flex;
    flex-direction: column;
    &__fields {
      display: flex;
      flex-direction: column;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    &__fields {
      display: flex;
      flex-direction: column;
    }
  }
  &__fields {
    display: flex;
    &-error {
      color: red;
      font-size: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      &--hide {
        visibility: hidden;
      }
    }
    &-error-border {
      border: 1px solid red;
    }
  }

  &__itemDetails {
    display: flex;
    flex-direction: column;
  }

  &__radioSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__radio-text {
    padding-left: 1rem;
    font-size: 0.9rem;
  }

  &__qty-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__btn-container {
    display: flex;
    flex-direction: row;
    padding: 1.5rem 1rem;
    gap: 1rem;
    background-color: $Light-Grey;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
  }
}
